<?xml version="1.0" encoding="UTF-8"?>
<openbox_menu>
	<menu id="root-menu" label="OpenBox 3">
		<menu id="1" label="Development">
			<item label="OpenOffice.org Writer/Web"> <action name="Execute">
				<execute>ooweb</execute>
			</action> </item>
			<item label="Qt Assistant"> <action name="Execute">
				<execute>assistant</execute>
			</action> </item>
			<item label="Qt Designer"> <action name="Execute">
				<execute>designer</execute>
			</action> </item>
			<item label="Qt Linguist"> <action name="Execute">
				<execute>linguist</execute>
			</action> </item>
		</menu>
		<menu id="2" label="Editors">
			<item label="Vi"> <action name="Execute">
				<execute>xterm -e vi</execute>
			</action> </item>
			<item label="Vim"> <action name="Execute">
				<execute>xterm -e vim</execute>
			</action> </item>
			<item label="Xedit"> <action name="Execute">
				<execute>xedit</execute>
			</action> </item>
		</menu>
		<menu id="18" label="Games">
			<item label="Qmamecat"> <action name="Execute">
				<execute>qmc2</execute>
			</action> </item>
			<item label="QMC2 (SDLMAME)"> <action name="Execute">
				<execute>qmc2-sdlmame</execute>
			</action> </item>
		</menu>
		<menu id="6" label="Graphics">
			<item label="GNU Image Manipulation Program"> <action name="Execute">
				<execute>gimp-2.6</execute>
			</action> </item>
			<item label="Mirage"> <action name="Execute">
				<execute>mirage</execute>
			</action> </item>
			<item label="OpenOffice.org Draw"> <action name="Execute">
				<execute>oodraw</execute>
			</action> </item>
			<item label="XSane - Scanning"> <action name="Execute">
				<execute>xsane</execute>
			</action> </item>
		</menu>
		<menu id="7" label="Multimedia">
			<item label="ALSA mixer"> <action name="Execute">
				<execute>xterm -e alsamixer</execute>
			</action> </item>
			<item label="Audacity"> <action name="Execute">
				<execute>audacity</execute>
			</action> </item>
			<item label="Aviplay"> <action name="Execute">
				<execute>aviplay</execute>
			</action> </item>
			<item label="EasyTag"> <action name="Execute">
				<execute>easytag</execute>
			</action> </item>
			<item label="gtk-recordMyDesktop"> <action name="Execute">
				<execute>gtk-recordMyDesktop</execute>
			</action> </item>
			<item label="Gtv"> <action name="Execute">
				<execute>gtv</execute>
			</action> </item>
			<item label="HandBrake"> <action name="Execute">
				<execute>ghb</execute>
			</action> </item>
			<item label="Linux MultiMedia Studio"> <action name="Execute">
				<execute>lmms</execute>
			</action> </item>
			<item label="MusicBrainz Picard"> <action name="Execute">
				<execute>picard</execute>
			</action> </item>
			<item label="VLC media player"> <action name="Execute">
				<execute>vlc</execute>
			</action> </item>
		</menu>
		<menu id="5" label="Network">
			<item label="aLinkCreator"> <action name="Execute">
				<execute>alc</execute>
			</action> </item>
			<item label="aMule"> <action name="Execute">
				<execute>amule</execute>
			</action> </item>
			<item label="aMuleGUI"> <action name="Execute">
				<execute>amulegui</execute>
			</action> </item>
			<item label="Avahi SSH Server Browser"> <action name="Execute">
				<execute>bssh</execute>
			</action> </item>
			<item label="Avahi VNC Server Browser"> <action name="Execute">
				<execute>bvnc</execute>
			</action> </item>
			<item label="Chromium"> <action name="Execute">
				<execute>chromium</execute>
			</action> </item>
			<item label="ELinks"> <action name="Execute">
				<execute>xterm -e elinks</execute>
			</action> </item>
			<item label="FireFox"> <action name="Execute">
				<execute>firefox</execute>
			</action> </item>
			<item label="FrostWire"> <action name="Execute">
				<execute>frostwire</execute>
			</action> </item>
			<item label="Gnaural"> <action name="Execute">
				<execute>gnaural</execute>
			</action> </item>
			<item label="Irssi"> <action name="Execute">
				<execute>xterm -e irssi</execute>
			</action> </item>
			<item label="Midori"> <action name="Execute">
				<execute>midori</execute>
			</action> </item>
			<item label="NcFTP"> <action name="Execute">
				<execute>xterm -e ncftp</execute>
			</action> </item>
			<item label="Pidgin Internet Messenger"> <action name="Execute">
				<execute>pidgin</execute>
			</action> </item>
			<item label="Remmina Remote Desktop Client"> <action name="Execute">
				<execute>remmina</execute>
			</action> </item>
			<item label="Transmission"> <action name="Execute">
				<execute>transmission</execute>
			</action> </item>
			<item label="wxCas"> <action name="Execute">
				<execute>wxcas</execute>
			</action> </item>
		</menu>
		<menu id="3" label="Office">
			<item label="ePDFViewer"> <action name="Execute">
				<execute>epdfview</execute>
			</action> </item>
			<item label="OpenOffice.org"> <action name="Execute">
				<execute>ooffice</execute>
			</action> </item>
			<item label="OpenOffice.org Base"> <action name="Execute">
				<execute>oobase</execute>
			</action> </item>
			<item label="OpenOffice.org Calc"> <action name="Execute">
				<execute>oocalc</execute>
			</action> </item>
			<item label="OpenOffice.org Impress"> <action name="Execute">
				<execute>ooimpress</execute>
			</action> </item>
			<item label="OpenOffice.org Writer"> <action name="Execute">
				<execute>oowriter</execute>
			</action> </item>
		</menu>
		<menu id="39" label="Other">
			<item label="DeVeDe"> <action name="Execute">
				<execute>devede</execute>
			</action> </item>
			<item label="gpick"> <action name="Execute">
				<execute>gpick</execute>
			</action> </item>
		</menu>
		<menu id="19" label="Shells">
			<item label="GIT"> <action name="Execute">
				<execute>xterm -e git</execute>
			</action> </item>
			<item label="rxvt-unicode"> <action name="Execute">
				<execute>urxvt</execute>
			</action> </item>
			<item label="Thunar File Manager"> <action name="Execute">
				<execute>Thunar</execute>
			</action> </item>
			<item label="Xterm"> <action name="Execute">
				<execute>xterm</execute>
			</action> </item>
		</menu>
		<menu id="37" label="System">
			<menu id="36" label="Settings">
				<menu id="21" label="GNOME">
					<item label="Pop-Up Notifications"> <action name="Execute">
						<execute>notification-properties</execute>
					</action> </item>
				</menu>
				<menu id="35" label="Xfce">
					<item label="File Manager"> <action name="Execute">
						<execute>thunar-settings</execute>
					</action> </item>
					<item label="Preferred Applications"> <action name="Execute">
						<execute>exo-preferred-applications</execute>
					</action> </item>
					<item label="Removable Drives and Media"> <action name="Execute">
						<execute>/usr/lib/xfce4/thunar-volman-settings</execute>
					</action> </item>
				</menu>
				<item label="Appearance"> <action name="Execute">
					<execute>lxappearance</execute>
				</action> </item>
				<item label="Manage Printing"> <action name="Execute">
					<execute>xdg-open http://localhost:631/</execute>
				</action> </item>
				<item label="Openbox Configuration Manager"> <action name="Execute">
					<execute>obconf</execute>
				</action> </item>
				<item label="Panel tint2"> <action name="Execute">
					<execute>tint2conf</execute>
				</action> </item>
				<item label="Qt Config"> <action name="Execute">
					<execute>qtconfig</execute>
				</action> </item>
			</menu>
			<item label="Avahi Zeroconf Browser"> <action name="Execute">
				<execute>avahi-discover</execute>
			</action> </item>
			<item label="Bulk Rename"> <action name="Execute">
				<execute>/usr/lib/ThunarBulkRename</execute>
			</action> </item>
			<item label="Htop"> <action name="Execute">
				<execute>xterm -e htop</execute>
			</action> </item>
		</menu>
		<menu id="38" label="Utilities">
			<item label="Archive Manager"> <action name="Execute">
				<execute>file-roller</execute>
			</action> </item>
			<item label="Calculator"> <action name="Execute">
				<execute>gcalctool</execute>
			</action> </item>
			<item label="HP Device Manager"> <action name="Execute">
				<execute>hp-toolbox</execute>
			</action> </item>
			<item label="Parcellite"> <action name="Execute">
				<execute>parcellite</execute>
			</action> </item>
			<item label="TiLP"> <action name="Execute">
				<execute>tilp</execute>
			</action> </item>
		</menu>
		<separator/>
		<menu id="40" label="OpenBox">
			<menu id="client-list-menu"/>
			<item label="Reconfigure"> <action name="Reconfigure"/> </item>
			<separator/>
			<item label="Exit"> <action name="Exit"/> </item>
		</menu>
	</menu>
</openbox_menu>
